.g-header {
  width: 100%; height: auto; position: relative; padding: 20px 0; margin: 0; background-color: $white; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); @include box-sizing(border-box); z-index: 100;
}
.brand {
  width: 100%; height: auto; padding: 0; margin: 0;
  & a {
    display: inline-block;
    & img {
      display: block; width: 100%; height: auto; max-width: 160px; margin: 0 auto 0 0; padding: 0;
    }
    & .site-title {
      font-size: 0; text-indent: -9999px; color: $rojo; opacity: 0; margin: 0; padding: 0;
    }
  }
}
.socialCt {
  &__list {
    @include display(flex); @include justify-content(flex-start); @include flex-direction(row); list-style-type: none; margin: 0; padding: 0;
  }
  &__item {
    list-style-type: none; margin: 0 8px 0 0; padding: 0;
    &:last-child {
      margin: 0;
    }
  }
  &__link {
    display: block; width: 40px; height: 40px; color: $gris; text-align: center; border: none; line-height: 40px; font-size: rem(24px); @include transition(all 300ms ease);
    &:hover {
      color: $rojo;
    }
  }
}
.boxSearch {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box);
  & form {
    width: 100%; height: auto; padding: 0; margin: 0;
    & label {
      margin: 0; padding: 0; position: relative;
      & input[type="search"] {
        padding-left: 40px; @include box-sizing(border-box);
      }
    }
    & .iconSearch {
      width: 35px; height: 26px; @include position(absolute, 0 null null 0); line-height: 26px; text-align: center; color: $black;
    }
    & input[type="submit"] {
      display: none;
    }
  }
}